{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <title>Gerenciador de Tarefas</title>
  </head>
  <body>
    <h1>Home</h1>

    <div class="naoFeitas">
        {% for tarefa in naoFeitas %}
          <div class="tarefaCard">
            <span>{{ tarefa.descricao }}</span>
          </div>
        {% endfor %}
        
      </div>

    <div class="feitas">
      {% for tarefa in feitas %}
        <div class="tarefaCard">
          <span>{{ tarefa.descricao }}</span>
        </div>
      {% endfor %}
    </div>

  
  </body>
</html>
