{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <script src="{% static 'home.js' %}"></script>
    <title>Gerenciador de Tarefas</title>
  </head>
  <body>
    <h1 class="titulo">Gerenciador de Tarefas</h1>

    <!-- Listas de tarefas -->
    <div class="container">
      <div class="naoFeitas listaTarefas">
        <div class="tituAdd">
          <h2>Tarefas a Fazer</h2>
          <i id="addTaskButton" class="material-icons btnAdd" title="Adicione uma nova tarefa">add_circle</i>
        </div>

        {% for tarefa in naoFeitas %}
          <div class="tarefaCard">
            {% if tarefa.prioridade == 1 %}
              <div class="prioridade baixa"></div>
            {% endif %}

            {% if tarefa.prioridade == 2 %}
              <div class="prioridade media"></div>
            {% endif %}

            {% if tarefa.prioridade == 3 %}
              <div class="prioridade alta"></div>
            {% endif %}

            <div class="descData">
              <span class="desc" title="{{ tarefa.descricao }}">{{ tarefa.descricao }}</span>
              <span class="data">{{ tarefa.dataVencimento|date:'d/m/Y' }}</span>
            </div>

            <div class="btnsTarefa">
              <a href="mudarTarefa/{{ tarefa.id }}"><i class="material-icons btns action" title="Realizar Tarefa">arrow_forward_ios</i></a>
              <i class="material-icons btns" title="Editar Tarefa" onclick="openModalForEdicao({{ tarefa.id }}, '{{ tarefa.descricao }}', {{ tarefa.prioridade }}, '{{ tarefa.dataVencimento }}')">edit</i>    
              <i class="material-icons btns delete" title="Excluir Tarefa" onclick="openModalParaExcluir({{ tarefa.id }}, '{{ tarefa.descricao }}')">delete</i>
            </div>
          </div>
        {% endfor %}
      </div>

      <div class="feitas listaTarefas">
        <h2>Tarefas Feitas</h2>
        {% for tarefa in feitas %}
          <div class="tarefaCard">
            <div class="descData">
              <span class="desc" title="{{ tarefa.descricao }}">{{ tarefa.descricao }}</span>
              <span class="data">{{ tarefa.dataVencimento|date:'d/m/Y' }}</span>
            </div>
            <div class="btnsTarefa">
              <a href="mudarTarefa/{{ tarefa.id }}"><i class="material-icons btns action arrow" title="Voltar Tarefa">arrow_back_ios</i></a>
              <i class="material-icons btns" title="Editar Tarefa" onclick="openModalForEdicao({{ tarefa.id }}, '{{ tarefa.descricao }}', {{ tarefa.prioridade }}, '{{ tarefa.dataVencimento }}')">edit</i>
              <i class="material-icons btns delete" title="Excluir Tarefa" onclick="openModalParaExcluir({{ tarefa.id }})">delete</i>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <!-- Modal de cadastro/editar da tarefa -->
    <div id="taskModal" class="modal">
      <div class="modal-content">
        <div class="modalHeader">
          <h2 id="modalTitle">Adicionar Nova Tarefa</h2>
          <span class="closeModal">&times;</span>
        </div>
        
        <!-- Formulário para Cadastrar/Editar Tarefa -->
        <form id="taskForm" method="post" action="">
          {% csrf_token %}
          <div class="form-group">
            <label for="descricao">Descrição:</label>
            <input type="text" id="descricao" name="descricao" required />
          </div>
          <div class="form-group">
            <label for="prioridade">Prioridade:</label>
            <select id="prioridade" name="prioridade" required>
              <option value="1">Baixa</option>
              <option value="2">Média</option>
              <option value="3">Alta</option>
            </select>
          </div>
          <div class="form-group">
            <label for="dataVencimento">Data de Vencimento:</label>
            <input type="date" id="dataVencimento" name="dataVencimento" required />
          </div>
          <input type="hidden" id="task_id" name="task_id" />
          <button type="submit" class="btn" id="submitButton">Adicionar</button>
        </form>
      </div>
    </div>

    <div id="modalConfirmacao" class="modal">
      <div class="modal-content">
        <span id="fecharConfirmacao" class="closeModal">&times;</span>
        <p id="confirmacaoDeletar"></p>
        <a id="btnDeletarSim" href="">sim</a>
        <a id="btnDeleteNao">não</a>
      </div>
    </div>
  </body>
</html>
