body{
    background-color: #f1f1e06b;
}
.container{
    display: flex;
    gap: 12px;
    justify-content: space-evenly;
}
.listaTarefas{
    padding: 12px;
    width: 44%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 12px;
    border: 1px solid #d1cccc;
    border-radius: 6px;
    background-color: #dee7ef;;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.37);
}
.feitas {
    background-color: #bef1be94;
}
.listaTarefas h2{
    margin: 0;
    font-family: math;
    color: #696262;
}
.tituAdd{
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #d1cccc;
    padding-bottom: 5px;
}
.btnsTarefa{
    display: flex;
    gap: 5px;
}
.btnsTarefa i {
    font-size: 20px;
    box-shadow: 2px 2px 7px -2px rgba(71,70,71,1);
    border-radius: 100%;
    padding: 3px;
}
.btnsTarefa .arrow {
    padding-right: 0px;
    padding-left: 6px;
}
.btnsTarefa .action {
    color: #d06ce1;
}
.btnAdd{
    cursor: pointer;
    color: #58acaf;
    font-size: 30px !important;
    box-shadow: 2px 2px 7px -2px rgba(71,70,71,1);
    border-radius: 100%;
    background: white;
    margin-top: -7px;
}

.btns{
    color: #58acaf;
    cursor: pointer;
}
.btnsTarefa .delete{
    color: tomato
}
.tarefaCard{
    padding: 12px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.37);
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
}
.tarefaCard .descData span{
    font-family: monospace;
    color: #757575;
    font-size: 110%;
}
.descData{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: calc(100% - 112px);
    padding-left: 5px;
    padding-right: 5px;
}
.descData .data{
    font-size: 85% !important;
}
.descData .desc{
    cursor: pointer;
}
.baixa{
    background-color: #1cf31c;
}
.media{
    background-color: #eded1d;
}
.alta{
    background-color: tomato;
}
.titulo{
    margin: auto;
    text-align: center;
    font-family: math;
    color: #696262;
    border-bottom: 1px solid #d1cccc;
    padding-bottom: 12px;
    padding-top: 6px;
    margin-bottom: 12px;
}
.prioridade{
    width: 12px;
    height: 12px;
    border-radius: 100%;
    border: 1px solid lightgray;
}



.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    width: 400px;
    border-radius: 15px;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.37);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#btnDeletarSim {
    text-decoration: none;
    color: black;
}

#btnDeleteNao{
    cursor: pointer;
}

.closeModal{
    cursor: pointer;
    font-size: 22px;
    color: tomato;
    font-weight: bold;
}
#modalTitle {
    font-family: math;
    margin: 0;
}
.modalHeader {
    display: flex;
    border-bottom: 1px solid black;
    padding-bottom: 12px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
#taskForm {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.form-group {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 5px;
}
#submitButton {
    width: 150px;
    margin-top: 20px;
    margin-left: calc(100% - 155px);
    height: 40px;
    border-radius: 10px;
    border: none;
    background: #58acaf;
    color: white;
    font-size: 16px;
    font-family: math;
    font-weight: bold;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.37);
    cursor: pointer;

}
#submitButton:hover {
    color: yellow;
}
#modalDeletar {
    display: flex;
    padding-bottom: 12px;
    align-items: center;
    justify-content: space-between;
}
#btnsDeletar {
    display: flex;
    gap: 12px;
}
@media only screen and (max-width: 650px) {
    .container {
        flex-wrap: wrap;
        padding-bottom: 20px;
    }
    .listaTarefas {
        width: 93%;
    }
  }